.container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	padding: 1.5rem;
	border-radius: 1.5rem;
	
	background-color: white;
	box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.1);
}
.itemImage {
	height: auto;
	max-width: 14rem;
}
.itemInfoBlock {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.itemNameRatingColumn {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;

	gap:1rem;
}
.itemNameBlock {

}
.itemName {

}
.itemRatingBlock {
	display: flex;
	flex-direction: row;
	gap: .5rem;
}
.itemRating {
	color: gray;
}
.itemnPriceBuyButtonColumn {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
.itemPriceBlock {
	display: flex;
	flex-direction: column;
}
.itemPrice {
	display: flex;
	justify-content: center;

	color: orange;
}
.itemPriceWithoutDiscount {
	display: flex;
	justify-content: center;
	
	color: gold;
	text-decoration: line-through;
	font-size: 0.7rem;
}
.buyButtonBlock {

}
.buyButton {
	font-weight: 600;
}
.buyButton:hover {
	cursor: pointer;
	text-shadow: 1px 1px 4px gainsboro;;
}